html {
    box-sizing: border-box;

    font-family: 'Sen';
    font-size: 16px;

    color: var(--text-color);
    background-color: var(--base-color);
}

:root {
    /* Color Palette */
    --base-color: #000000;
    --sub-lvl-color: #181823;
    --light-grey-color: #8491A0;
    --dark-grey-color: #C7E0F4;
    --text-color: #ffffff;
    --primary-color: #5221E6;
    --green-accent-color: #3CC74E;
    --pink-accent-color: #E95D90;
    --peach-accent-color: #FFF3E4;
    --violet-accent-color: #FBE4FF;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
p {
    padding: 0;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container,
[class*="__container"] {
    margin-left: auto;
    margin-right: auto;

    max-width: 22.5rem;

    padding-left: 20px;
    padding-right: 20px;
}

.collection {
    padding: 0;
    margin: 0;

    list-style-type: none;
}

/* -----HEADER----- */
.site-heading {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.4375rem;
    letter-spacing: 0em;
    text-align: left;
}

.header-description {
    font-size: 1.125rem;
    line-height: 1.6875rem;
}

/* -----Section EXPERIENCE----- */
.section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.section__heading {
    font-size: 16px;
    line-height: 24px;

    color: var(--light-grey-color);
    text-transform: uppercase;
}

.section-description {
    font-size: 2rem;
    font-weight: bold;
    line-height: 38.5px;
}

.section-list {
    counter-reset: items-counter;
}

.section-list__item::before {
    counter-increment: items-counter;
    content: counter(items-counter, decimal-leading-zero);

    font-size: 7.3125rem;
    line-height: 8.8125rem;

    color: var(--dark-grey-color);
}

.section-list__heading {
    font-size: 24px;
    line-height: 36px;
}

.section-list__highlight_color_green {
    color: var(--green-accent-color);
}

.section-list__highlight_color_blue {
    color: var(--primary-color);
}

.section-list__highlight_color_pink {
    color: var(--pink-accent-color);
}



@media screen and (min-width:768px) {

    .container,
    [class*="__container"] {
        max-width: 768px;

        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .site-heading {
        font-size: 3.5rem;
        line-height: 4.1875rem;
    }

}

@media screen and (min-width:1440px) {

    .container,
    [class*="__container"] {
        max-width: 1440px;

        padding-left: 4.5rem;
        padding-right: 4.5rem;
    }

    .site-heading {
        font-size: 4.875rem;
        line-height: 5.875rem;
    }
}