.section__heading {
    margin-bottom: 0.5rem;
}

.section-description {
    margin-bottom: 2.5rem;
}

.section-list__heading {
    margin-bottom: 1rem;
}

@media screen and (max-width:767px) {
    .section-list__item:not(:last-child) {
        margin-bottom: 2.5rem;
    }
}