.section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.section__heading {
    margin-bottom: 0.5rem;
}

.section__description {
    margin-bottom: 2.5rem;
}

.section-list {
    counter-reset: items-counter;
}

.experience-list__item::before {
    counter-increment: items-counter;
    content: counter(items-counter, decimal-leading-zero);

    font-size: 7.3125rem;
    line-height: 8.8125rem;

    color: var(--dark-grey-color);
}

.section-list__heading {
    margin-bottom: 1rem;
}

.section-list__description {
    line-height: 1.5rem;
}

.section-link {
    margin-bottom: 0.1875rem;
}

.section__link-wrp {
    width: max-content;
}

@media screen and (max-width:767px) {
    .section-list__item:not(:last-child) {
        margin-bottom: 2.5rem;
    }
}

@media screen and (min-width:768px) {
    .section {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .section-list__heading {
        margin-bottom: 1.5rem;
    }

    .section__inner-wrp {
        padding-right: 2.5rem;
    }
}

@media screen and (min-width:1440px) {
    .section {
        padding-top: 7.5rem;
        padding-bottom: 7.5rem;
    }

    .section__inner-wrp {
        padding-right: 4.5rem;
    }
}